{% include '/components/buy_book_modals.html.twig' %}
{% for book in elements %}
    <div class="book-product">
        <div class="book-product-header">
            <div class="book-product-author">{{ book['authorName'] }}</div>
            <div class="book-product-name">{{ book['name'] }}</div>
        </div>
        <div class="book-product-body">
            <img class="book-info-image" src="/images/books/{{ book['image'] }}">
        </div>
        <div class="book-product-footer">
            <button class="btn btn-success btn-sm buy-btn" data-buy-book-name="{{ book['name'] }}"
                    data-author="{{ book['authorName'] }}"
                    id="btn-buy-{{ book['bookId'] }}">оформить заявку на книгу
            </button>
        </div>
    </div>
{% endfor %}


